@import url('https://fonts.googleapis.com/css2? family= EB+Garamond:wght@400;500;600 & family= Roboto:ital,wght@0,100;0,700;1,400;1,900 & family= Rubik+Mono+One & display=swap');

body{ 
	font-size: 10px;
	background-color: #222327;
}

h1{
	font-family: 'EB Garamond', serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 40px;
	text-align: center;
	color: #fff;
	text-shadow: 10px 10px 30px rgb(44, 19, 158), -10px -10px 30px rgb(193, 6, 249);
	-webkit-text-stroke: 2px rgb(193, 6, 249);
	-webkit-text-fill-color: transparent;

}
p{
	font-family: 'EB Garamond', serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 40px;
	text-align: center;
	color: #fff;
	text-shadow: 10px 10px 30px rgb(44, 19, 158), -10px -10px  rgb(193, 6, 249);
	-webkit-text-stroke: 2px rgb(193, 6, 249);

}